body {
    margin: 0;
    padding: 0;
}
.top_header_backgr {
    width: 100%;
    height: 36px;
    background-color:#E5E5E5; 
}
.header_main_backgr {
    width: 100%;
    height: 84px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8EE;
}
.top_header a {
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 600;
    font-size: 16px;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 1110px;
    min-height: 2100px;
}
.top_references {
    position: absolute;
    right: 0;
    margin-top: -48px;
}
.top_references a {
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 700;
    font-size: 14px;
}
.top_references a:nth-child(1) {
    padding-right: 20px;
}
.header_main {
    margin-top:-64px;
    display: grid;
    grid-template-columns: 186px auto 218px;

}
.search {
    margin-left: 36px;
    width: 651px;
    height: 44px;
    background-color: #FCFCFC;
    border: 1px solid #E8E8EE;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;

}
.search span { 
    color: #828282;
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
}

.search-icon {
    padding-left: 10px;
    display: block;
    color: #828282;
}
.submit_btn {
    width: 300px;
}
.vertical_search_line {
    height: 30px;
    border-left: 1px solid #BDBDBD;
    margin-left: 312px;
}
.submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;   
    height: 44px;
    background-image: linear-gradient(#32228A, #745ACD);
    border-radius: 3px;
}
.submit_btn span {
    
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}
.logo {
    padding-top: 5px;
}
.search_cities {
    display: flex;
    justify-content: center;

    padding-left: 20px;
}
.search_cities a {
    padding: 0;
    margin-left: 13px;
    

}
.triangle {
    padding-bottom: 2px;
}
/* END HEADER */

/* START MAIN */
main {
    margin-top: 18px;
}
.main_menu {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: no-wrap;
    width: 100%;
    height: 222px;
    border-bottom: 1px solid #E8E8EE;
}
.main_menu a {
    text-decoration: none;
}
.menu_items {
    display: flex;
    gap: 19px;
}
.menu_item {
    width: 357.5px;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
}
.menu_item a {
    display: block; /* Додайте цю властивість, щоб посилання займало всю доступну площу */
    width: 100%; /* Розтягнути посилання на всю ширину блоку */
    height: 100%; /* Розтягнути посилання на всю висоту блоку */
}
.menu_item cars1 {
    display: none;
}

.left_slide_btn {
    position: absolute ;
    left: -48px;
    top: 158px;
}
.right_slide_btn {
    position: absolute;
    right: -48px;
    top: 158px;
}
.right_slide_btn {
    transform: rotate(180deg);
}
.left_slide_btn, .right_slide_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E8E8EE;
}
.cars {
    background: linear-gradient(90deg, #56CCF2 100%, #FFD659 100%);


}
.phones1, .phones2 {
    background: linear-gradient(90deg, #FF9191 100%, #FF7878 100.03%);
    display: flex;
}
.phones2 img {
    display: block;
    position: absolute;
    right: 0;
}
.cars, .phones2 {
    position: relative;
    overflow: hidden;
}

.cars img {
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
}
.phones_block {
    width: 120px;
    padding-top: 103px;
    padding-left: 19px;
}

.phones_block span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}
.phones_block span:nth-child(2) {
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 7px;
}
/* END MAIN_MENU */

/* Info navbar */
.info_nav {
    display: flex;
    padding-top: 24px;
    color: #979FAD;
    justify-content: flex-start;
    align-items: center;

}
.info_nav a {
    text-decoration: none;
}
.hor_line {
    width: 22px;
    height: 1px;
    border-top: 1px solid #979FAD;
    margin: 0 10px;
    
}
.current_page {
    font-weight: 600;
    font-size: 14px;
    cursor: default;
    color: #333333;
}
/* END INFO NAVBAR */
/* CONTENT CONTAINER */
.content_container  {
    margin-top: 21px;
    width: 100%;
    height: 1122px;
    border: 1px solid #E8E8EE;
    display: grid;
    grid-template-columns: 720px auto;
    grid-template-rows: 135px 451px 128px 204px 204px;
    grid-template-areas: 
      "product price"
      "image_main contacts"
      "add_img empty"
      "description empty"
      "spec empty";
}
.product_info {
    grid-area: product;
    width: 325px;
    padding: 31px 0 0 37px;
}
.product_header {
    font-size: 29px;
    font-weight: 600;
}
.info_add_about_product {
    display: flex;
    align-items: center;
    padding-top: 13px;
    font-size: 13px
}
.info_add_about_product img {
    margin: 2px 7px 0 17px;
}
.past_time {
    padding-left: 18px;
}

.product_price {
    grid-area: price;
    display: flex;
    flex-wrap: wrap;
    
    
    margin-top: 32px;
    margin-left: 34px;

}



.product_price span:nth-child(1) {
    display:inline;
    padding:0;
    margin:0;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}
.some_text {
    display: inline-block;
    padding-bottom: 40px;
    padding-top: 6px;
    margin: 0;
}
.btc_image {
    width: 76px;
    height: 38px;
    border: 1px solid #E8E8EE;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    margin-left: 29px;
    
}
.btc_icon {
    margin-right: 8px;
}
.btc_image a {
    padding-left: 5px;
}


.product_image_main {
    grid-area: image_main;
    margin-left: 36px;
    width: 677px;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.product_image_main img {
    z-index: 0;
}
.product_image_main .left_slide_btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 208px;
    left: 9px;
    z-index: 2;
    background-color: #FFFFFF;
}  
.product_image_main .right_slide_btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 208px;
    right: 10px;
    z-index: 2;
    background-color: #FFFFFF;
} 
.product_contacts {
    grid-area: contacts;
    width: 323px;
    height: auto;
    margin-left: 34px;

}
.product_contacts a {
    text-decoration: none;
}
.send_message {
    width: 100%;
    height: 44px;
    background: linear-gradient(#32228A, #745ACD);
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}
.show_phone_number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    border: 3px solid #745ACD; 
    width: 100%;
    height: 45px;
    color:  #745ACD; 
    font-weight: 600;
    border-radius: 3px;
}

.contact_person {
    display: flex;
    flex-wrap: wrap;
    width: 113px;
    margin-top: 27px;

}
.contact_person span:nth-child(1) {
    font-size: 14px;
    color: #828282;
}
.contact_person span:nth-child(2) {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}
.adress {
    display: flex;
    flex-wrap: wrap;
    width: 235px;
    margin-top: 24px;

}
.adress span:nth-child(1) {
    width: 100%;
    color: #828282;
}
.adress span:nth-child(2) {
    width: 100%;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}
.adress span:nth-child(3) {
    width: 100%;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}
.category {
    margin-top: 24px;
    width: 107px
}
.category span:nth-child(1) {
    width: 100%;
}
.category span:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
}
.add_product_images {
    grid-area: add_img;
    display: flex;
    margin: 10px 0 0 36px;
    gap: 12px;
   

}
.add_product_images img {
    width: 130px;
    height: 86px;
    padding: 0;
    margin: 0;
}
.add_product_images img:nth-child(1){
    border: 2px solid #D5D5D5;
    width: 132px;
    height: 88px;
}

.product_description {
    grid-area: description;
    display: flex;
    width: 677px;
    height: 208px;
    border-top: 1px solid #E8E8EE;
    border-bottom: 1px solid #E8E8EE;
    margin-left: 35px;
    padding-top: 25px;
    margin-top: -2px;

}
.product_description span:nth-child(1) {
    display: inline-block;
    width: 140px;
    font-size: 18px;
    font-weight: 600;
    color: #828282;;
    padding: 2px 0 0 6px;
    
}
.product_description span:nth-child(2) {
    width: auto;
    display: block;
    margin-top: -4px;
    font-size: 18px;
    font-weight: 600;
    color: #333333 ;
    padding-left: 128px;
   
    line-height: 1.8;
    text-align: justify;
    
}

.product_specifications {
    grid-area: spec;
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    flex-wrap: wrap;
    padding: 3px 0 0 2px
}
.product_specifications ul {
    list-style: none;
    margin:0;
    padding:0;
    
}
.product_specifications ul:nth-child(1) {
    padding-left: 40px;
    padding-top: 24px;
}
.product_specifications ul:nth-child(2) {
    padding-left: 23px;
    padding-top: 25px;
}

.spec {
    display: inline-block;
    color: #828282;
    font-size: 18px;
    font-weight: 600;
    width: 190px;
    
}
.spec li:nth-child(2) {
    padding-top: 28px;
}
.spec li:nth-child(3) {
    padding-top: 24px;
}
.answer {
    display: inline-block;
    color: #333333;
    font-weight: 600;  

}
.answer li:nth-child(2) {
    padding-top: 30px;
}
.answer li:nth-child(3) {
    padding-top: 47px;
}
.empty {
    grid-area: empty;
}
/* END BLOCK */

/* SAME Advertisement */
.same {
    font-size: 24px;
    padding-top: 3px;
}
.same_advertisement {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}
.content_box {
    width: 253px;
    height: 401px;
    border: 1px solid #E8E8EE;
    border-radius: 4px;
    overflow: hidden;
    margin: 2px 0 0 2px;
}

.content_box_image {
    width: 100%;
}
.content_box_info {
    display: flex;
    align-items: center;
}
.content_box_info span {
    font-size: 24px;
    font-weight: 600;
    padding: 19px 0 10px 16px;
    letter-spacing: 1.3px;
    
}
.content_box_info a {
    margin-left: 25px;
    margin-top: 10px;
}
.description_advertisement  {
    padding-left: 15px;
    margin-top: 7px;
} 

.place_time {
    border-top: 1px solid #E8E8EE;
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    
}
.place {
    padding-left: 16px;
    margin-top: 8px;
}
.place span {
    padding-left: 4px;
}
.time {
    margin-top: 11px;
    padding-left: 100px;
    font-size: 13px;

}
.account {
    display: none;
}
/* FOR ADAPTIVE ELEMENTS */


/* ADAPTIVE FOR 768 px MAX */
@media screen and (max-width: 768px) {
    .top_header_backgr, .header_main_backgr, .container {
        width: 100vw;
    }
    .top_header_backgr {
        height: 0;
    }  
    header_main_backgr {
        height: 0;
    }
    
    .header_main {
       
        position: fixed;
        top:64px;
        
        height: 102px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
       
        background-color: #E8E8EE;
        width: 100vw;
        
        
    }
    .header_main .logo{
        width: 150px;

    }
    .search {
        min-width: 62px; 
        margin-left: 10px;
        width: 30vw;
        
    }
    .search span {
        display: none;
    }
    .search-icon img {
        width: 20px;
        height: 20px;
    }
    .search span:nth-child(1), .search_cities {
        display: none;
    }
    .vertical_search_line {
        margin-left: 11px;
    }
    .search_cities {
        width: 100px;
        margin-right: 300px;
    } 
    .submit_btn {
        display: none;
    }
    .submit_btn span {
        font-size: 13px;
    }
    .account {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        margin-right: 10px;
    }
    .feedback {
        display: none;
    }
    .sign_in_icon  {

        opacity: 1;
        left: 700px;
        top: 34px;
        font-size: 30px;
        color: #745ACD;
        
    }
/* END HEADER */
/* MAIN_MENU */
   
.main_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    width: 100vw;
    height: 171px;

    
    
}
.menu_items a:nth-child(1), .menu_items a:nth-child(3) {
        display: none;
    }
    .menu_item {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        border-radius: 0;
    }
    .phones_block {
        width: 120px;
        padding-top: 10px;
        padding-left: 15px;
    }
    .phones_block span:nth-child(1) {
        font-size: 32px;
    }
    .phones_block span:nth-child(2) {
        font-size: 19px;
    }
    .right_slide_btn {
        position: absolute;
        right: 2%;
        top: 75px;
        border: none;
        
    }
    .left_slide_btn {
        position: absolute;
        left: 2%;
        top: 75px;
        border: none;
        
    }
    .right_slide_btn img, .left_slide_btn img {
        width: 2vw;
        opacity: 0.2;
    }
    
    
    
    
    .info_nav {
        width: 100vw;
        font-size: 24px;
        padding-left: 10px;
        display: flex;
        justify-content: center;
    }
    .info_nav a{
        
        font-size: 14px;
        
    }
    .current_page {
        font-size: 19px;
        text-decoration: underline;
    }


    .content_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        border: none;
    
    }
    .empty {
        display: none;
    }
    .product_header {
        font-size: 26px;
    }
    
    .info_add_about_product {
        font-size: 14px;
    }
    .product_price {
        justify-content: center;
        margin-top: 10px;
        font-size: 14px;
        margin-top: 14px;
    }
    .product_info {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }
    .info_add_about_product {
        padding: 0;
    }
    .product_price span:nth-child(1) {
        font-size: 20px;
    }
    .btc_image {
        width: 66px;
        height: 32px;
    }
    .some_text {
        margin-left: 10px;
        opacity: 0.1;
        padding-bottom: 0;
    }
    .product_image_main {
        width: 100vw;
        margin-left: 0;
        height: fit-content;

    }
    .product_image_main img {
        width: 100vw;
        
    }
    .product_image_main .right_slide_btn {
        top: 30vw;
        background-color: inherit;
    }
    .product_image_main .left_slide_btn {
        top: 30vw;
        background-color: inherit;
    }
    .product_image_main .left_slide_btn img {
        width: 32px;
    }
    .product_image_main .left_slide_btn  {
        width: 32px;
        height: 32px;
    }




    .product_contacts {
        grid-area: contacts;
        /* width: 323px; */
        /* height: auto; */
       
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
   
    .send_message {
        width: 344px;
        height: 44px;
        background: linear-gradient(#32228A, #745ACD);
        color: #FFFFFF;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-radius: 3px; */
    }
    .show_phone_number {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        border: 3px solid #745ACD;
        width: 344px;
        height: 45px;
        color: #745ACD;
        font-weight: 600;
        border-radius: 3px;
        
    }
    .add_contact_info {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 20px;

    }
    .contact_person, .adress, .category {
        display: flex;
        flex-wrap: wrap;
        width: 240px;
        font-size: 22px;
        margin: 0;
    }
    .contact_person span:nth-child(1) {
        font-size: 22px;

    }
    .contact_person {
        width: 210px;
    }
   
    .add_product_images {
        display: none;
    }
    .product_description {
        display: flex;
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        border: none;
    }
    .product_description span:nth-child(2) {
       padding: 10px 20px 0 20px;
       line-height: 1;
    }
    .product_specifications {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .product_specifications ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .product_specifications ul:nth-child(2) {
        padding: 0;
        margin: 0;
    }
    product_specifications ul:nth-child(1) {
       padding: 0;
    }
    .product_specifications ul:nth-child(1) {
        padding-left: 0;
        padding-top: 0;
    }
    .answer li:nth-child(3) {
        padding-top: 0;
    }
    .spec li:nth-child(2) {
        padding-top: 0;
    }
    .spec li:nth-child(3) {
        padding-top: 0;
    }
    .spec li:nth-child(3) {
        padding-top: 0;
    }
    .answer li:nth-child(2) {
        padding-top: 0;
    }
    .same_advertisement {
        justify-content: center;
        width: 100%;
    }





    .same {
        
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    .content_box {
        width: 95%;
        height: 100%;
        font-size: 22px;
    }
    .time {
        font-size: 16px;
        padding-top: 3px;
    }
    .header_main {
        z-index: 1000;
    }
   
     .sign_in_icon {
        padding-left: 5px;
    }
    


}